@media only screen and (min-width: 576px) {
}

.buttons {
  height: 45px;
  border: 1px solid #9b9b9b;
  background-color: #fff;
  color: #9b9b9b;
}

.buttonsActive {
  height: 45px;
  border: none;
  background-color: #db3022;
  color: #fff;
  border-radius: 25px;
}

.links {
  text-decoration: none;
}

.butts {
  width: 100%;
}

.mid {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sideLink {
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a3b0bc;
  border-radius: 10px;
  color: white;
}

/* ////////////////// */
.container {
  display: flex;
  justify-items: center;
  align-items: center;
}
.navbar_brand {
  font-size: 24px;
  font-weight: bold;
}

.btn_sort {
  border-radius: 10px;
  border: 1px solid #9b9b9b;
  background-color: #ffffff;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  margin-right: 50px;
  justify-content: space-between;
}
.logo a {
  text-decoration: none;
  color: #db3022;
}

.textLogo {
  color: #db3022;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
}

.profile {
  border-radius: 50%;
}

nav {
  width: 100%;
  height: 60px;
  box-shadow: 1px 3px #ebe5e5;
}
.navbar_brand a {
  font-family: Metropolis;
  font-size: 24px;
  font-weight: bold;
}
.navbar_nav {
  margin-right: 30px;
  margin-left: 30px;
}
.menu {
  display: flex;
}
.search {
  width: 507px;
  height: 40px;
  outline: none;
  border-color: #8e8e93;
  border-radius: 23px;
  padding-left: 30px;
  margin-right: 10px;
  border: none;
}
.login {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 36px;
  border: 1px solid #8e8e93;
  border-radius: 25px;
  justify-content: center;
  padding-top: 5px;
}
.login:hover {
  background-color: #db3022;
  color: #ffffff;
  border: 0;
}
.signup {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 36px;
  border: 1px solid #8e8e93;
  border-radius: 25px;
  justify-content: center;
  padding-top: 5px;
}
.signup:hover {
  background-color: #db3022;
  color: #ffffff;
  border: 0;
}
.profile {
  width: 30px;
  border-radius: 100%;
}
.profile a {
  text-decoration: none;
  color: black;
}
.mybag {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 36px;
  padding-top: 6px;
  padding-left: 50px;
}

.mybag img {
  margin-bottom: -10;
}

.login a {
  color: #9b9b9b;
  text-decoration: none;
  margin: 0;
}
.login a:hover {
  color: #ffffff;
}
.signup a:hover {
  color: #ffffff;
}
.signup a {
  color: #9b9b9b;
  text-decoration: none;
  margin: 0;
}
.profile img {
  border-radius: 100%;
  width: 30px;
}
.dropdown button {
  background-color: white;
}

.menu_login {
  margin-top: -20px;
  display: flex;
  justify-content: baseline;
  gap: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}
.thumbs {
  border-radius: 8px;
}

.thumbnails {
  height: 248px;
}

.margins {
  margin: 0;
  padding: 0;
}

.review {
  font-size: 12px;
}

.ups {
  margin-top: -15px;
}

.button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 5px;
}

.colorActive {
  border: 1px solid #db3022;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
}

.black {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.blackActive {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.red {
  background-color: #db3022;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.redActive {
  background-color: #db3022;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.blue {
  background-color: #4290d8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.blueActive {
  background-color: #4290d8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.green {
  background-color: #42d86c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.greenActive {
  background-color: #42d86c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.15rem;
}

.buttonProductDetail {
  height: 45px;
  border-radius: 24px;
}

.ratings {
  font-size: 60px;
}

.borderBottom {
  border-bottom: 2px solid #d4d4d4;
}

.cardsImage {
  height: 13rem;
}

.cardProductTitle {
  font-size: 16px;
}

.cardProductShop {
  font-size: 12px;
}

.cardSpacing {
  padding-right: 10px;
}

@media screen and (max-width: 480px) {
  .mobiles {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 270px;
  }

  .navSearch {
    margin-left: -35px;
  }

  .cardMobiles {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .cardsImage {
    height: 10rem;
  }

  .thumbnails {
    height: 270px;
  }
}
